.container{
    display: flex;
    margin: 4% auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1A1C2A;
    color: #0f1120;
    justify-content: space-evenly;
}

.info{
    width: 30%;
    padding: 1%;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}


.info p{
    flex-wrap: wrap;
    width: 85%;
    margin: 3% auto;
    font-size: 40px;
}

.imagemLogo img{
    height: 70%;
    padding: 0;
    margin: 0;
}

.sobre{
    height: 3rem;
    width: 32%;
    border-radius: 10px;
    background-color: #181B33;
    color: white;
    border: none;
}


.sobre:hover{
    background-color: #fff;
    border-color: black;
    color: #0f1120;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    transition-duration: 0.7s;
    cursor: pointer;
}
.info span {
    color: #303FB0;
}


@Media screen and (max-width: 1024px){
    .sobre{
        width: 50%;
    }
}

@Media screen and (min-width: 768px) and (max-width:768px){
    .info p {
        width: 90%;
    }
    .imagemLogo{
        height: 40%;
        width: 50%;
    }
    .sobre{
        width: 80%;
    }
}

@Media screen and (max-width: 425px){
    .info {
        width: 100%;
    }
    .sobre{
        margin-bottom: 6%;
    }
}

