@media screen and (min-width:1129px) and (max-width:2440px){
    
.container {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin: 0 auto;
}
.secondary{
    width: 26rem;
    background-color: #141729;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.secondary {
    position: relative;
    background: #171826;
    height: 22rem;
  }
  
  .secondary::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #171826 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
  .h2{
    font-size: 2.7rem;
    font-weight: bold;
    color: white;

  }
  .textmain{
    padding: 0px 20px;
    font-size: 1.1rem;
  }
  .text{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .seta{
    font-size: 2rem;
    align-items: right;
  }
}
@media screen and (min-width:1116px) and (max-width:1439px){
    
    .container {
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
        margin: 0 auto;
    }
    .secondary{
        width: 20rem;
        background-color: #141729;
        color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .secondary {
        position: relative;
        background: #171826;
        height: 20rem;
      }
      
      .secondary::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: #171826 transparent transparent transparent;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
      }
      .h2{
        font-size: 2.5rem;
        font-weight: bold;
    
      }
      .textmain{
        padding: 0px 20px;
        font-size: 1.1rem;
      }
      .text{
        font-size: 1.7rem;
        font-weight: bold;
      }
      .seta{
        font-size: 2rem;
        align-items: right;
      }
    }
@media screen and (min-width:100px) and (max-width:1115px){
    
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        .secondary{
            width: 20rem;
            background-color: #141729;
            color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .secondary {
            position: relative;
            background: #171826;
            height: 20rem;
          }
          
          .secondary::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 15px;
            border-color: #171826 transparent transparent transparent;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
          }
          .h2{
            font-size: 2.5rem;
            font-weight: bold;
        
          }
          .textmain{
            padding: 0px 20px;
            font-size: 1.1rem;
          }
          .text{
            font-size: 1.7rem;
            font-weight: bold;
          }
          .seta{
            font-size: 2rem;
            align-items: right;
        }
}